.App {
  display: flex;
  width: 100%;
  min-width: 800px;
  height: 100vh;
  box-sizing: border-box;
  border: 1px solid deepskyblue;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid purple;
  min-width: 200px;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

.menu-active{
  background-color: yellow;
  color: navy;
}
.p-chart{
  width: 1200px;
}

.menu li{
  list-style: none;
}

.display{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
  flex-grow: 1;
}


.column {
  flex-direction: row;
  float: left;
  box-sizing: border-box;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 60%;
}

.row:after {
  flex-direction: row;
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}